<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Image Viewer</title>
  <style>
    .image-item {
      display: inline-block; /* 가로로 정렬되도록 설정 */
      margin-right: 10px; /* 사진 간격을 조절 */
    }
  </style>
</head>
<body>
<h1><b>이미지 게시판</b></h1>
<button onclick="location.href='upload'">사진올리기</button> <!--사진올리기 버튼 누르면 upload을 URL로 GET요청 -->
<br></br>
  <div class="image-item" th:each="image : ${data}" >
    <a th:href="@{'/index/' + ${image.id}}">
      <img th:src="@{'/images/' + ${image.name}}" alt="Image" style="width: 200px; height: 200px; object-fit: cover;" />
      <p th:text="${image.title}"></p>
    </a>
  </div>
</body>
</html>