<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>
<h1>Upload Image</h1>
<form method="post" th:action="@{${image.id} != null ? '/upload/' + ${image.id} : '/upload'}" enctype="multipart/form-data">
    <input type="text" name="title" maxlength="20" placeholder="Enter title(최대 20자)" th:value="${image.title}" required>
    <br><br>
    <textarea name="content" rows="4" placeholder="comment(최대 100자)" required th:text="${image.content}" maxlength="100"></textarea>
    <br><br>
    <input type="file" name="data" accept="image/*" required th:d>
    <br><br>
    <input type="submit" value="Upload">
</form>
</body>
</html>